body {
  font-family: sans-serif;
  background-color: #e0ffff;
}

h2 {
  padding: 10px;
  margin: 5px 150px;
  color: #4682b4;
}

button {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin: 0px 2px;
}
button:hover {
  background-color: #00008b;
  color: #ffffff;
}

.input-area {
  background-color: #afeeee;
  width: 500px;
  height: 90px;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  text-align: center;
}

input {
  border-radius: 10px;
  border: none;
  padding: 6px 16px;
  margin: 15px 2px;
  outline: none;
  text-align: center;
}

.incomplete-area {
  background-color: #b0e0e6;
  width: 500px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
}

.complete-area {
  background-color: #add8e6;
  width: 500px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
}

span {
  margin-right: 8px;
}

h4 {
  text-align: center;
  margin: 5px;
  font-weight: bold;
  color: #708090;
}

li {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
}
